<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
    <head th:replace="~{layout/headerFooter :: head}">
        <title>Pro Learn</title>
    </head>
    <body id="cuerpo">
        <header th:replace="~{layout/headerFooter :: header}"></header>

        <div class="container my-3">
            <div class="row">
                <div class="txtFooter">
                    <h1>Condiciones de Contratación</h1>
                    <P>Estas Condiciones de Contratación ("Condiciones") rigen el uso de los servicios ofrecidos por Prolearn a través de nuestro sitio web. Al utilizar nuestros servicios, usted acepta cumplir con estas Condiciones.</P>
                    <h2>1. Aceptación de las Condiciones</h2>
                    <p>Al utilizar nuestros servicios, usted acepta cumplir con estas Condiciones. Si no está de acuerdo con alguna parte de las Condiciones, no podrá utilizar nuestros servicios.</p>
                    <h2>2. Modificaciones</h2>
                    <p>Prolearn se reserva el derecho de modificar estas Condiciones en cualquier momento. Si modificamos estas Condiciones, publicaremos la versión actualizada en nuestro sitio web. Es su responsabilidad revisar estas Condiciones regularmente. Si continúa utilizando nuestros servicios después de que hayamos publicado una modificación en estas Condiciones, se considerará que ha aceptado la modificación.</p>
                    <h2>3. Servicios</h2>
                    <p>Prolearn ofrece una plataforma en línea que permite a los usuarios acceder a contenido educativo. Los usuarios pueden acceder a nuestro contenido a través de una suscripción mensual o anual. Al suscribirse a nuestro servicio, usted acepta pagar la tarifa de suscripción aplicable.</p>
                </div>
            </div>
        </div>

        <footer th:replace="~{layout/headerFooter :: footer}"></footer>
    </body>
</html>
