<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
    <head th:replace="~{layout/headerFooter :: head}">
        <title>Pro Learn</title>
    </head>
    <body id="cuerpo">
        <header th:replace="~{layout/headerFooter :: header}"></header>

        <div class="container my-3">
            <div class="row">
                <div class="txtFooter">
                    <div id="titulo1" class="fs-1 my-5">Politica de Cookies</div>
                    <p class="fs-4 my-5">
                        Las cookies son pequeños archivos de texto que se almacenan en su dispositivo cuando visita un sitio web. Estas cookies pueden contener información como sus preferencias de navegación, configuraciones de idioma y otros detalles para mejorar su experiencia en línea.   
                    </p>
                    <p class="fs-4 my-5">
                        Al utilizar nuestro sitio web, usted acepta el uso de cookies de acuerdo con nuestra Política de Cookies. Si no está de acuerdo con nuestra Política de Cookies, por favor no utilice nuestro sitio web.
                    </p>
                    <h2 class="fs-4">¿Qué son las cookies?</h2>
                    <p class="fs-4 my-5">
                        Las cookies son pequeños archivos de texto que se almacenan en su dispositivo cuando visita un sitio web. Estas cookies pueden contener información como sus preferencias de navegación, configuraciones de idioma y otros detalles para mejorar su experiencia en línea.   
                    </p>
                    <p class="fs-4 my-5">
                        Las cookies se utilizan para mejorar la experiencia del usuario en línea y para recopilar información sobre el uso del sitio web. Las cookies pueden ser temporales o permanentes, y se utilizan para recordar sus preferencias y configuraciones, así como para rastrear su actividad en línea.
                    </p>

                </div>
            </div>
        </div>

        <footer th:replace="~{layout/headerFooter :: footer}"></footer>
    </body>
</html>
