<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
    <head th:replace="~{layout/headerFooter :: head}">
        <title>Pro Learn</title>
    </head>
    <body id="cuerpo">
        <header th:replace="~{layout/headerFooter :: header}"></header>

        <div class="container my-3">
            <div class="row">
                <div class="txtFooter">
                    <div id="titulo1" class="fs-1 my-5">Políticas de Privacidad</div>
                    <p class="fs-4 my-5">En Prolearn, valoramos y respetamos su privacidad. Esta Política de Privacidad describe cómo recopilamos, utilizamos y protegemos la información personal que usted proporciona a través de nuestro sitio web y servicios en línea.
                    </p>
                    <p class="fs-4 my-5">Al visitar nuestro sitio web, usted acepta las prácticas descritas en esta Política de Privacidad. Si no está de acuerdo con esta Política de Privacidad, por favor no utilice nuestro sitio web ni nuestros servicios. Esta Política de Privacidad puede cambiar en cualquier momento. Su uso continuado de nuestro sitio web y servicios constituye su aceptación de tales cambios.
                    </p>
                    <h2 class="fs-3">Recopilación de Información</h2>
                    <p class="fs-4 my-5">Recopilamos información personal que usted nos proporciona voluntariamente, como su nombre, dirección de correo electrónico, dirección postal, número de teléfono y otra información de contacto. La información personal también incluye información que usted nos proporciona sobre otras personas, como cuando usted compra un regalo para otra persona o se refiere a un amigo a Prolearn.
                    </p>
                    <p class="fs-4 my-5">Además, recopilamos información sobre usted cuando usted interactúa con nuestro sitio web y servicios en línea. Por ejemplo, podemos recopilar cierta información automáticamente, como su dirección IP y otra información de identificación de dispositivos, el tipo de navegador que está utilizando, la página web desde la que llegó a nuestro sitio web, las páginas que visita en nuestro sitio web, el tiempo que pasa en estas páginas, la información que busca en nuestro sitio web, el tiempo y la fecha de su visita, y otra información estadística.
                    </p>
                </div>
            </div>
        </div>

        <footer th:replace="~{layout/headerFooter :: footer}"></footer>
    </body>
</html>
