<!DOCTYPE html>
<html xmlns=http://www.w3.org/1999/xhtml
      xmlns:th=http://thymeleaf.org>
    
    <head th:replace="~{menu/plantilla_menu :: head}"></head>
    
    <body  id="cuerpo">

        <section th:replace="~{menu/plantilla_menu :: navegacion}"></section>
        <section th:replace="~{menu/plantilla_menu :: menu}"></section>
        <section th:replace="~{menu/plantilla_menu :: cursos}"></section>
        <section th:replace="~{menu/plantilla_menu :: faqs}"></section>
        <section th:replace="~{menu/plantilla_menu :: listadoCursos}"></section>
        
        <section th:replace="~{menu/plantilla_menu :: footer}"></section>


    </body>
</html>