<!DOCTYPE html>
<html xmlns=http://www.w3.org/1999/xhtml
      xmlns:th=http://thymeleaf.org>
    
    <head th:replace="~{layout/plantilla_sesion :: head}"></head>
    
    <body  id="cuerpo">

        <section th:replace="~{menu/plantilla_menu :: navegacion}"></section>
        <section th:replace="~{layout/plantilla_sesion :: iniciar}"></section>
        <section th:replace="~{layout/plantilla_sesion :: listadoUsuarios}"></section>
        
        
        <section th:replace="~{menu/plantilla_menu :: footer}"></section>


    </body>
</html>