<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <body th:replace="~{layout/plantilla_menu :: cuerpo}">
    
    <head th:fragment="head">
        <meta charset="UTF-8">
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
        <script th:src="@{/js/img.js}"></script>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

        <!-- Link de Bootstrap-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

        <!-- Link de CCS-->
        <link rel="stylesheet" th:href="@{/css/iniciarSesion.css}">

        <!-- Link para icon del titulo-->
        <link rel="icon" th:href="@{/img/icon.png}" type="image/x-icon">
            <title th:text="|Prolearn|"> Prolearn</title>
            <img  alt=""/>
       </head>
        
        
        <!-- 
             ==============================================================-->
        <!-- Formulario para Iniciar cuenta -->
        <!-- 
             ==============================================================-->
        
        
    <body>
        <section th:fragment="iniciar" class="container-fluid">
            <div id="local" >
                <div id="recuadro">
                    <div class="wrapper">
                        <p class="fs-2">¡Bienvenido de nuevo! Ingrese los datos para ingresar</p>
                    </div>
                    <div class="container ">
                        <div class="ps-5" id="contenedor-formulario">
                            <form id="input" class="row g-2 ">
                                <div class="col-12 col-md-7">
                                    <label for="email" class="form-label">Correo</label>
                                    <input type="email" class="form-control" id="email" placeholder="ejemplo@.com">
                                </div>
                                <div class="col-8 col-md-7">
                                    <label for="password" class="form-label">Contraseña</label>
                                    <input type="password" class="form-control" id="password" placeholder="password">
                                </div>

                                <div class="col-8 col-md-6 ">
                                    <button id="btn1" type="submit" class="btn btn-primary">Ingresar</button>
                                </div>

                                <div class="col-8 col-md-2  my-4 py-4">
                                    <a style="color: #FF0049;" th:href="@{/cuenta/recuperar}">Se me olvido la contraseña</a>
                                </div>
                            </form>
                            <div class="row container text-center me-5" >
                                <a class="col-8" th:href="@{/cuenta/crear}">Crear una nueva cuenta</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="fondo">
                    <img class="img-fluid fondo d-block w-100" th:src="@{/img/iniciar_Sesion.png}" alt="Cuenta">
                </div>
            </div>
        </section>
        
        
        
        <!-- 
        ==============================================================-->
        <!-- Tabla Usuarios de SQL -->
        <!-- 
        ==============================================================-->
        
        <section th:fragment="listadoUsuarios">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <h4>Cuentas Listado</h4>
                            </div>
                            <div th:if="${usuarios != null and !usuarios.empty}">
                                <table class="table table-striped table-hover">
                                    <thead class="table-dark">
                                        <tr><th>#Identificador</th>
                                            <th>Nombre del usuario</th>
                                            <th>Correo del usuario</th>
                                            <th>Contraseña del usuario</th></tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="usuario, contador : ${usuarios}">
                                            <td>[[${contador.count}]]</td>
                                            <td>[[${usuario.nombre_completo}]]</td>
                                            <td>[[${usuario.correo_electronico}]]</td>
                                            <td>[[${usuario.contrasena}]]</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${usuarios == null or usuarios.empty}">
                                <span>Listado Vacio</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card text-center bg-success text-white mb-3">
                            <div class="card-body">
                                <h3>Total de Usuarios</h3>
                                <h4 class="fs-2"><i class="fas fa-users"></i> [[${totalUsuarios}]]</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
    </body>
</html>