<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

    <head th:replace="~{layout/headerFooter :: head}">
        <title>Pro Learn</title>
    </head>


    <body>
        <!-- 
           ==============================================================-->
        <!-- Inicio de la Cursos -->
        <!-- 
           ==============================================================-->
        <section th:fragment="cursos">
            <div id="titulo1" class="fs-3 my-5">Cursos</div>

            <div id="cuerpo-cursos" class="px-5 py-5">
                <div class="container" th:if="${cursos!= null and !cursos.empty}">
                    <div class="row row-cols-1 row-cols-md-2 ">
                        <div th:each="curso, contador : ${cursos}" class="col">
                            <div class="card px-5 py-5">
                                <a th:href="@{/curso/curso/}+${curso.idCurso}">
                                    <img class="img-thumbnail fixed-size" th:src="${curso.thumbnailCurso}"/>
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title f-3" th:text="${curso.nombreCurso}">Curso Name</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </section>

    </body>
</html>
