<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    
    <head th:replace="~{layout/headerFooter :: head}">
        <title>Pro Learn</title>
    </head>
    <body>
        
        
        <section th:fragment="crear">
            <div id="local" >
            <div id="recuadro">
                <div class="wrapper">
                    <p class="fs-2">¡Bienvenido de nuevo! Ingrese los datos para ingresar</p>
                </div>
                <div class="container ">
                    <div class="ps-5" id="contenedor-formulario ">
                        <form id="input" class="row g-2 ">
                            <div class="col-12 col-md-7">
                                <label for="email" class="form-label">Correo</label>
                                <input type="email" class="form-control" id="email" placeholder="ejemplo@.com">
                            </div>
                            <div class="col-8 col-md-7">
                                <label for="password" class="form-label">Contraseña</label>
                                <input type="password" class="form-control" id="password" placeholder="password">
                            </div>

                            <div class="col-8 col-md-6 ">
                                <button id="btn1" type="submit" class="btn btn-primary">Ingresar</button>
                            </div>

                            <div class="col-8 col-md-2  my-4 py-4">
                                <a style="color: #FF0049;" href=".html">Se me olvido la contraseña</a>
                            </div>
                        </form>
                        <div class="row container text-center me-5" >
                            <a class="col-8" href="nuevaCuenta.html">Crear una nueva cuenta</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="fondo">
                <img class="img-fluid fondo d-block w-100" src="/img/iniciar-cuenta.png" alt="Marcoz29">
            </div>
        </div>
        </section>
    
        
        
    </body>
</html>
