<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

    <head th:replace="~{layout/headerFooter :: head}">
        <title>Pro Learn</title>
    </head>


    <body>

        <section th:fragment="curso">
            <div id="cuerpo-menu">
                <div id="fondo-curso" class=" col-6 ms-auto">
                    <img class="img-fluid fondo d-block w-100 px-2 " th:src="${curso.thumbnailCurso}" alt="">
                </div>
                <div class="container">
                    <h1 class="fs-1 offset-md-3 col-10 ms-auto" th:text="${curso.nombreCurso}"></h1>
                    <div class="fs-2 py-3 offset-md-3 col-10 ms-auto">
                        <h2 th:text="${curso.descrpCurso}"></h2>
                        <br>
                            <h3 style="color:black;">Se entrega certificado al finalizar.</h3>
                    </div>
                </div>
            </div>

            <div class="container col-12 col-md-7 col-lg-7 px-5 py-5">
                <h2 class="text-center py-5" style="color: white;">Resumen del curso</h2>
                <div class="accordion" id="accordionPanelsStayOpenExample">
                    <th:block th:each="capitulosEstruc, contador : ${lista}">
                        <div class="accordion-item">
                            <h2 class="accordion-header"> 
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        th:data-bs-target="'#collapse' + ${contador.index}" aria-expanded="false"
                                        th:aria-controls="'collapse' + ${contador.index}" th:text="${capitulosEstruc.capituloPadre.nombre}"> Modulo
                                </button>
                            </h2>
                            <div th:id="'collapse' + ${contador.index}" class="accordion-collapse collapse">
                                <div class="accordion-body">
                                    <th:block class="my-5" th:each="capituloHijo, contador : ${capitulosEstruc.capitulosHijos}"> 
                                        <a class="my-5" th:href="@{/visualVideos/visualVideos/}+${capituloHijo.id}" 
                                           sec:authorize="hasRole('ROLE_PREMIUM') or hasRole('ROLE_ADMIN')"><strong class="my-5" th:text="${capituloHijo.nombre}"></strong></a><br/>
                                        <strong class="my-5" th:text="${capituloHijo.nombre}" sec:authorize="!hasRole('ROLE_PREMIUM') and !hasRole('ROLE_ADMIN')"></strong><br/>
                                    </th:block>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </div>
            </div>

        </section>

    </body>
</html>
