<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

    <head th:replace="~{layout/headerFooter :: head}">
        <title>Pro Learn</title>
    </head>

    <body>

        
        
        <section th:fragment="CursosAuditoria">
        
            <!-- 
               ==============================================================-->
            <!-- Se muestra la informacion de los Curso Auditoria -->
            <!-- 
               ==============================================================-->
            
            <div class="row text-center">
                <div class="col-3">
                    <a th:href="@{/adminCurso/listarCursos}"><button id="btnAdmin"
                    class="col-12">Cursos</button></a>
                </div>
                <div class="col-3">
                    <a th:href="@{/adminCurso/listarUsuarios}"><button id="btnAdmin"
                    class="col-12">Usuarios</button></a>
                </div>
                <div class="col-3"><button id="btnAdmin" 
                    class="col-12">Categoria</button>
                </div>
                <div class="col-3">
                    <div class="dropdown-center">
                        <button id="btnAdmin" class="dropdown-toggle col-12"
                            type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Auditoria
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item"
                            th:href="@{/adminCurso/Auditoria/CursosAuditoria}">Cursos Auditorias</a></li>
                            <li><a class="dropdown-item"
                            th:href="@{/adminCurso/Auditoria/UsuariosAuditoria}">Usuarios Auditorias</a></li>
                            <li><a class="dropdown-item"
                            th:href="@{/adminCurso/Auditoria/CategoriaAuditoria}">Categoria Auditorias</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="table-responsive text-center mx-5">
                <div id="gestionAdmin" class="ms-auto table-responsive text-center">
                    <table class="table table-borderless table-dark border border-white
                           text-center py-4">
                        <thead>
                            <tr >
                                <th scope="col">Id</th>
                                <th scope="col">Nombre Curso</th>
                                <th scope="col">Descripcion Curso</th>
                                <th scope="col">Thumnail Curso</th>
                                <th scope="col">Categoria Curso</th>
                                <th scope="col">Estado Publico</th>
                                <th scope="col">Estado Delet</th>
                                <th scope="col">Actualizado por</th>
                                <th scope="col">Ultima Actualizacion</th>
                                <th scope="col">Creado Por</th>
                                <th scope="col">Fecha de Creacion </th>
                                <th scope="col">Accion </th>
                                <th scope="col">Botones</th>
                            </tr>
                        </thead>
                        <tbody th:each="curso, contador : ${cursos}">
                            <tr>
                                <th th:text="${set nombreCurso}" scope="row"></th>
                                <th th:text="${set nombreCurso}" scope="row"></th>
                                <th th:text="${set nombreCurso}" scope="row"></th>
                                <th th:text="${set nombreCurso}" scope="row"></th>
                                <th th:text="${set nombreCurso}" scope="row"></th>
                                <th th:text="${set nombreCurso}" scope="row"></th>
                                <th th:text="${set nombreCurso}" scope="row"></th>
                                <th th:text="${set nombreCurso}" scope="row"></th>
                                <th th:text="${set nombreCurso}" scope="row"></th>
                                <th th:text="${set nombreCurso}" scope="row"></th>
                                <th th:text="${set nombreCurso}" scope="row"></th>
                                <td th:text="${set estadoCurso}"></td>
                                <td>
                                    <a th:href="@{/adminCurso/detalleCurso/}+${curso.idCurso}">
                                        <button id="btn2" class="btn my-2">Editar</button></a>

                                    <a th:href="@{/curso/eliminar/}+${curso.idCurso}">
                                        <button id="btn2" class="btn my-2">Eliminar</button></a>
                                </td>
                            </tr>
                    </table>
                </div>
            </div>
        </section>
        


        <section th:fragment="listadoCursos">
            
            <!-- 
               ==============================================================-->
            <!-- Se Crea un curso -->
            <!-- 
               ==============================================================-->
            
            
            <div id="CrearCurso" 
                 class="modal fade" 
                 tabindex="-1" 
                 aria-labelledby="exampleModalLabel" 
                 aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div <div class="modal-content fondo-modal">
                            <div class="modal-header bg-info text-white">
                                <h5 class="modal-title">Crear Curso</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div> 
                            <form th:action="@{/adminCurso/newCurso}" th:object="${curso}"
                            method="POST" class="was-validated" enctype="multipart/form-data">
                                <div class="modal-body">
                                    <div class="mb-3">
                                        <label for="nombre">Nombre del Curso</label>
                                        <input type="text" class="form-control" name="nombreCurso" required="true"/>
                                    </div>
                                    <div class="mb-3">
                                        <label for="descripcion">Descripcion del curso</label>
                                        <textarea class="form-control" name="descrpCurso" rows="5" required="true"></textarea>
                                    </div>
                                    <div class="imagen-preview-container">
                                        <img id="imagen-preview" width="100%" />
                                    </div>
                                    
                                    <div class="mb-3 my-4">
                                        <label for="imagenNuevo">Imagen del Curso</label>
                                        <input class="form-control" type="file" 
                                           name="imagenNuevo" accept="image/*" 
                                           onchange="readURL(this);">
                                    </div>
                                    
                                    <div class="mb-3">
                                        <label for="categorias">Categoría del Curso</label>
                                        <select class="form-control" 
                                        id="categorias" name="categoriaId" required="true">
                                            <option value="">Seleccione una categoría</option>
                                            <option th:each="categoria : ${categorias}" 
                                            th:value="${categoria.id}" 
                                            th:text="${categoria.nombre}"></option>
                                        </select>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button class="btn btn-primary" type="submit">Guardar</button>
                                </div>
                                <script>
                                  function readURL(input) {
                                    if (input.files && input.files[0]) {
                                      var reader = new FileReader();
                                      reader.onload = function (e) {
                                        document.getElementById('imagen-preview').src = e.target.result;
                                        document.getElementById('imagen-preview').style.display = 'block';
                                      };
                                      reader.readAsDataURL(input.files[0]);
                                    }
                                  }
                                </script>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
                
            <!-- 
               ==============================================================-->
            <!-- Botones de pagina Admin -->
            <!-- 
               ==============================================================-->
  

            <div id="btn4" class="row">
                <div class="col-3">
                    <a th:href="@{/adminCurso/listarCursos}"><button id="btnAdmin"
                    style="border-bottom: 4px solid #ff0000";
                    class="col-12 ms-auto">Cursos</button></a>
                </div>
                <div class="col-3">
                    <a th:href="@{/adminCurso/listarUsuarios}"><button id="btnAdmin"
                    class="col-12 ms-auto">Usuarios</button></a>
                </div>
                <div class="col-3"><button id="btnAdmin" 
                    class="col-12 ms-auto">Categoria</button>
                </div>
                <div class="col-3">
                    <div class="dropdown-center">
                        <button id="btnAdmin" class="dropdown-toggle col-12 ms-auto"
                            type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Auditoria
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item"
                            th:href="@{/adminCurso/Auditoria/CursosAuditoria}">Cursos Auditorias</a></li>
                            <li><a class="dropdown-item"
                            th:href="@{/adminCurso/Auditoria/UsuariosAuditoria}">Usuarios Auditorias</a></li>
                            <li><a class="dropdown-item"
                            th:href="@{/adminCurso/Auditoria/CategoriaAuditoria}">Categoria Auditorias</a></li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="row mb-3">
                <div class="col-12 d-flex align-items-center mt-5 ms-5">
                    <button id="btnCurso" type="botton" class="btn "
                            data-bs-toggle="modal" data-bs-target="#CrearCurso">Crear Curso</button>
                </div>
            </div>


            <!-- 
               ==============================================================-->
            <!-- Se muestra la tabla con la informacion de los cursos -->
            <!-- 
               ==============================================================-->



            <div class="table-responsive text-center mx-5">
                <div id="gestionAdmin" class="col-7 table-responsive text-center">
                    <table class="table table-borderless table-dark border border-white
                           text-center py-4">
                        <thead>
                            <tr >
                                <th scope="col">Nombre del Curso</th>
                                <th scope="col">Estado del Curso</th>
                                <th scope="col">Botones</th>
                            </tr>
                        </thead>
                        <tbody th:each="curso, contador : ${cursos}">
                            <tr>
                                <th th:text="${curso.nombreCurso}" scope="row"></th>
                                <td th:text="${curso.estadoCurso ? 'Activo' : 'Inactivo'}"></td>
                                <td>
                                    <a th:href="@{/adminCurso/detalleCurso/}+${curso.idCurso}">
                                        <button id="btn2" class="btn my-2">Editar</button></a>

                                    <a th:href="@{/curso/eliminar/}+${curso.idCurso}">
                                        <button id="btn2" class="btn my-2">Eliminar</button></a>
                                </td>
                            </tr>
                    </table>
                </div>
            </div>
        </section>
        
        


        
        
        <section th:fragment="UsuariosAuditoria">

            
            <!-- 
               ==============================================================-->
            <!-- Botones de pagina Admin -->
            <!-- 
               ==============================================================-->
  

            
            <div class="row text-center">
                <div class="col-3">
                    <a th:href="@{/adminCurso/listarCursos}"><button id="btnAdmin"
                    class="col-12">Cursos</button></a>
                </div>
                <div class="col-3">
                    <a th:href="@{/adminCurso/listarUsuarios}"><button id="btnAdmin"
                    class="col-12">Usuarios</button></a>
                </div>
                <div class="col-3"><button id="btnAdmin" 
                    class="col-12">Categoria</button>
                </div>
                <div class="col-3">
                    <div class="dropdown-center">
                        <button id="btnAdmin" class="dropdown-toggle col-12"
                            type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Auditoria
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item"
                            th:href="@{/adminCurso/Auditoria/CursosAuditoria}">Cursos Auditorias</a></li>
                            <li><a class="dropdown-item"
                            th:href="@{/adminCurso/Auditoria/UsuariosAuditoria}">Usuarios Auditorias</a></li>
                            <li><a class="dropdown-item"
                            th:href="@{/adminCurso/Auditoria/CategoriaAuditoria}">Categoria Auditorias</a></li>
                        </ul>
                    </div>
                </div>
            </div>


                    
            <!-- 
               ==============================================================-->
            <!-- Se muestra la informacion de los Usuarios Auditoria -->
            <!-- 
               ==============================================================-->
            
            
            <div class="table-responsive text-center mx-5">

                <div id="gestionAdmin" class="ms-auto table-responsive text-center">
                    <table class="table table-borderless table-dark border border-white
                           text-center py-4">
                        <thead>
                            <tr >
                                <th scope="col">Id</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Apellidos</th>
                                <th scope="col">Email</th>
                                <th scope="col">Estado Usuario</th>
                                <th scope="col">Actualizado por</th>
                                <th scope="col">Ultima Actualizacion</th>
                                <th scope="col">Creado Por</th>
                                <th scope="col">Fecha de Creacion</th>
                                <th scope="col">Accion </th>
                                <th scope="col">Botones</th>
                            </tr>
                        </thead>
                        <tbody th:each="curso, contador : ${cursos}">
                            <tr>
                                <th th:text="${set Id}" scope="row"></th>
                                <th th:text="${set Nombre}" scope="row"></th>
                                <th th:text="${set Apellidos}" scope="row"></th>
                                <th th:text="${set Email}" scope="row"></th>
                                <th th:text="${set EstadoUsuario}" scope="row"></th>
                                <th th:text="${set Actualizadopor}" scope="row"></th>
                                <th th:text="${set UltimaActualizacion}" scope="row"></th>
                                <th th:text="${set CreadoPor}" scope="row"></th>
                                <th th:text="${set FechadeCreacion}" scope="row"></th>
                                <td th:text="${set Accion}"></td>
                                <td>
                                    <a th:href="@{/adminCurso/detalleCurso/}+${curso.idCurso}">
                                        <button id="btn2" class="btn my-2">Editar</button></a>

                                    <a th:href="@{/curso/eliminar/}+${curso.idCurso}">
                                        <button id="btn2" class="btn my-2">Eliminar</button></a>
                                </td>
                            </tr>
                    </table>
                </div>
            </div>

        </section>



        
        
        <section th:fragment="listadoUsuarios">

            <!-- 
               ==============================================================-->
            <!-- Botones de pagina Admin -->
            <!-- 
               ==============================================================-->
            
            <div class="row text-center">
                <div class="col-3">
                    <a th:href="@{/adminCurso/listarCursos}"><button id="btnAdmin"
                    class="col-12">Cursos</button></a>
                </div>
                <div class="col-3">
                    <a th:href="@{/adminCurso/listarUsuarios}"><button id="btnAdmin"
                    style="border-bottom: 4px solid #ff0000";
                    class="col-12">Usuarios</button></a>
                </div>
                <div class="col-3">
                    <a th:href="@{/}"><button id="btnAdmin" 
                    class="col-12">Categoria</button></a>
                </div>
                <div class="col-3">
                    <div class="dropdown-center">
                        <button id="btnAdmin" class="dropdown-toggle col-12"
                            type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Auditoria
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item"
                            th:href="@{/adminCurso/Auditoria/CursosAuditoria}">Cursos Auditorias</a></li>
                            <li><a class="dropdown-item"
                            th:href="@{/adminCurso/Auditoria/UsuariosAuditoria}">Usuarios Auditorias</a></li>
                            <li><a class="dropdown-item"
                            th:href="@{/adminCurso/Auditoria/CategoriaAuditoria}">Categoria Auditorias</a></li>
                        </ul>
                    </div>
                </div>
            </div>


            <!-- 
               ==============================================================-->
            <!-- Se edita el usuario -->
            <!-- 
               ==============================================================-->

            <div id="editarUsuario" 
                 class="modal fade" 
                 tabindex="-1" 
                 aria-labelledby="exampleModalLabel" 
                 aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div <div class="modal-content fondo-modal">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title">Editar Informacion</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> 
                        <form>

                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="nombre">Nombre del usuario</label>
                                    <input type="text" class="form-control" name="nombre" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="numero">Apellido del usuario</label>                                    
                                    <input type="text" class="form-control" name="nombre" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="email" class="form-label">Email del Usuario</label>
                                    <input type="email" class="form-control" name="username" id="email" placeholder="ejemplo@.com">
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-primary" type="submit">Guardar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


             <!-- 
                ==============================================================-->
             <!-- Se muestra los usuarios -->
             <!-- 
                ==============================================================-->

                
                
            <div class="table-responsive text-center mx-5">

                <div id="gestionAdmin" class="col-7 table-responsive text-center">
                    <table class="table table-borderless table-dark border border-white
                           text-center py-4">
                        <thead>
                            <tr >
                                <th scope="col">Id</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Apellidos</th>
                                <th scope="col">Email</th>
                                <th scope="col">Botones</th>
                            </tr>
                        </thead>
                        <tbody th:each="curso, contador : ${cursos}">
                            <tr>
                                <th th:text="${set id}" scope="row"></th>
                                <td th:text="${set nombre}"></td>
                                <td th:text="${set apellido}"></td>
                                <td th:text="${set email}"></td>
                                <td>
                                    <a href="#" data-bs-target="#editarUsuario" data-bs-toggle="modal">
                                        <button class="btn my-2" id="btn2">Editar</button>
                                    </a>

                                    <a th:href="@{/curso/eliminar/}+${curso.idCurso}">
                                        <button id="btn2" class="btn my-2">Eliminar</button></a>
                                </td>
                            </tr>
                    </table>
                </div>
            </div>

        </section>

        

        
        <section th:fragment="CategoriaAuditoria">
            
            
            <!-- 
                ==============================================================-->
            <!-- Botones de  Auditoria -->
            <!-- 
                ==============================================================-->

            <div class="row text-center">
                <div class="col-3">
                    <a th:href="@{/adminCurso/listarCursos}"><button id="btnAdmin"
                    class="col-12">Cursos</button></a>
                </div>
                <div class="col-3">
                    <a th:href="@{/adminCurso/listarUsuarios}"><button id="btnAdmin"
                    class="col-12">Usuarios</button></a>
                </div>
                <div class="col-3"><button id="btnAdmin" 
                    class="col-12">Categoria</button>
                </div>
                <div class="col-3">
                    <div class="dropdown-center">
                        <button id="btnAdmin" class="dropdown-toggle col-12"
                            type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Auditoria
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item"
                            th:href="@{/adminCurso/Auditoria/CursosAuditoria}">Cursos Auditorias</a></li>
                            <li><a class="dropdown-item"
                            th:href="@{/adminCurso/Auditoria/UsuariosAuditoria}">Usuarios Auditorias</a></li>
                            <li><a class="dropdown-item"
                            th:href="@{/adminCurso/Auditoria/CategoriaAuditoria}">Categoria Auditorias</a></li>
                        </ul>
                    </div>
                </div>
            </div>


            <!-- 
                ==============================================================-->
            <!-- Se muestra la informacion de las Categorias Auditoria -->
            <!-- 
                ==============================================================-->
            
            
            <div class="table-responsive text-center mx-5">

                <div id="gestionAdmin" class="ms-auto table-responsive text-center">
                    <table class="table table-borderless table-dark border border-white
                           text-center py-4">
                        <thead>
                            <tr >
                                <th scope="col">Id</th>
                                <th scope="col">Nombre Categoria</th>
                                <th scope="col">Estado Delet</th>
                                <th scope="col">Actualizado por</th>
                                <th scope="col">Ultima Actualizacion</th>
                                <th scope="col">Creado Por</th>
                                <th scope="col">Fecha de Creacion </th>
                                <th scope="col">Accion </th>
                                <th scope="col">Botones</th>
                            </tr>
                        </thead>
                        <tbody th:each="curso, contador : ${cursos}">
                            <tr>
                                <th th:text="${set nombreCurso}" scope="row"></th>
                                <th th:text="${set nombreCurso}" scope="row"></th>
                                <th th:text="${set nombreCurso}" scope="row"></th>
                                <th th:text="${set nombreCurso}" scope="row"></th>
                                <th th:text="${set nombreCurso}" scope="row"></th>
                                <th th:text="${set nombreCurso}" scope="row"></th>
                                <th th:text="${set nombreCurso}" scope="row"></th>
                                <th th:text="${set nombreCurso}" scope="row"></th>
                                <td th:text="${set estadoCurso}"></td>
                                <td>
                                    <a th:href="@{/adminCurso/detalleCurso/}+${curso.idCurso}">
                                        <button id="btn2" class="btn my-2">Editar</button></a>

                                    <a th:href="@{/curso/eliminar/}+${curso.idCurso}">
                                        <button id="btn2" class="btn my-2">Eliminar</button></a>
                                </td>
                            </tr>
                    </table>
                </div>
            </div>

        </section>

       
        
        
        
        <section th:fragment="listadoCategorias">

        <!-- 
           ==============================================================-->
        <!-- Se muestra las Categorias -->
        <!-- 
           ==============================================================-->
            
            <div class="row text-center py-2 pb-2">
                <div class="col-3">
                    <a th:href="@{/adminCurso/listarCursos}"><button id="btnAdmin"
                    class="col-12">Cursos</button></a>
                </div>
                <div class="col-3">
                    <a th:href="@{/adminCurso/listarUsuarios}"><button id="btnAdmin"
                    class="col-12">Usuarios</button></a>
                </div>
                <div class="col-3">
                    <a th:href="@{/}"><button id="btnAdmin" 
                    style="border-bottom: 4px solid #ff0000";
                    class="col-12">Categoria</button></a>
                </div>
                <div class="col-3">
                    <div class="dropdown-center">
                        <button id="btnAdmin" class="dropdown-toggle col-12"
                            type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Auditoria
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item"
                            th:href="@{/adminCurso/Auditoria/CursosAuditoria}">Cursos Auditorias</a></li>
                            <li><a class="dropdown-item"
                            th:href="@{/adminCurso/Auditoria/UsuariosAuditoria}">Usuarios Auditorias</a></li>
                            <li><a class="dropdown-item"
                            th:href="@{/adminCurso/Auditoria/CategoriaAuditoria}">Categoria Auditorias</a></li>
                        </ul>
                    </div>
                </div>
            </div>


            <!-- 
               ==============================================================-->
            <!-- Se muestra la tabla con la informacion de la categoria y se edita -->
            <!-- 
               ==============================================================-->

            
            <div id="editarCategoria" 
                 class="modal fade" 
                 tabindex="-1" 
                 aria-labelledby="exampleModalLabel" 
                 aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div <div class="modal-content fondo-modal">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title">Editar Informacion</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> 
                        <form th:action="@{/adminCurso/listarCursos/}+${curso.idCurso}" th:object="${curso}"
                            method="POST" class="was-validated" enctype="multipart/form-data">

                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="nombre">Nombre del usuario</label>
                                    <input type="text" class="form-control" name="nombre" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="numero">Apellido del usuario</label>                                    
                                    <input type="text" class="form-control" name="nombre" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="email" class="form-label">Email del Usuario</label>
                                    <input type="email" class="form-control" name="username" id="email" placeholder="ejemplo@.com">
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-primary" type="submit">Guardar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


            <div class="table-responsive text-center mx-5">

                <div id="gestionAdmin" class="col-7 table-responsive text-center">
                    <table class="table table-borderless table-dark border border-white
                           text-center py-4">
                        <thead>
                            <tr >
                                <th scope="col">Id</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Botones</th>
                            </tr>
                        </thead>
                        <tbody th:each="curso, contador : ${cursos}">
                            <tr>
                                <th th:text="${curso.nombreCurso}" scope="row"></th>
                                <td th:text="${curso.estadoCurso}"></td>
                                <td>
                                    <a href="#" data-bs-target="#editarCategoria" data-bs-toggle="modal">
                                        <button class="btn my-2" id="btn2">Editar</button>
                                    </a>

                                    <a th:href="@{/curso/eliminar/}+${curso.idCurso}">
                                        <button id="btn2" class="btn my-2">Eliminar</button></a>
                                </td>
                            </tr>
                    </table>
                </div>
            </div>

        </section>
        
        

        <!-- 
           ==============================================================-->
        <!-- Se edita y agrega el contendo del curso y sus modulos -->
        <!-- 
           ==============================================================-->
        
        <section th:fragment="infoCurso">
            
            <div id="editarInformacionCurso" 
                 class="modal fade" 
                 tabindex="-1" 
                 aria-labelledby="exampleModalLabel" 
                 aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content fondo-modal">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title">Editar informacion del Curso</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> 
                        <form th:action="@{/adminCurso/listarCursos/}+${curso.idCurso}" th:object="${curso}"
                            method="POST" class="was-validated" enctype="multipart/form-data">
                            <div class="modal-body">
                                
                                <div class="mb-3">
                                    <label for="nombre">Nombre del Curso</label>
                                    <input type="text" class="form-control"
                                        name="nombre" required="true"
                                        th:field="*{nombreCurso}"/>
                                </div>
                                
                                <div class="mb-3">
                                    <label for="descrpCurso">Descripcion del curso</label>
                                    <textarea class="form-control" th:field="*{descrpCurso}"
                                    name="descripcion" rows="5" required="true"></textarea>
                                </div>
                                
                                <div id="imagen-preview-container" class="imagen-preview-container">
                                    <img id="imagen-preview" width="100%" />
                                </div>
                                
                                <div class="mb-3 my-4">
                                    <label for="thumbnailCurso">Imagen del Curso</label>
                                    <input class="form-control" type="file" 
                                           name="imagenNuevo" accept="image/*" 
                                           th:src="@{curso.thumbnailCurso}"
                                           onchange="readURL(this); updateImagePreview(this);">
                                </div>
                                
                                <div class="mb-3">
                                    <label for="categorias">Categoría del Curso</label>
                                    <select class="form-control" 
                                            id="categorias" name="categoria" required="true">
                                        <option value="">Seleccione una categoría</option>
                                        <option th:each="categoria : ${categorias}" 
                                                th:value="${categoria.id}" 
                                                th:text="${categoria.nombre}"
                                                th:selected="${categoria.id == curso.categoriaId}">
                                        </option>
                                    </select>
                                </div>
                                
                                <div class="mb-3">
                                    <label id="estado-label" th:text="${curso.estadoCurso ? 'Activo' : 'Inactivo'}"></label>
                                    <input type="checkbox" name="estadoCurso" th:checked="${curso.estadoCurso}" 
                                           onclick="document.getElementById('estado-label').textContent = this.checked ? 'Activo  ' : 'Inactivo';" />
                                </div>
                            </div>
                            
                            <input type="hidden" th:field="*{idCurso}" />
                            <input type="hidden" th:field="*{thumbnailCurso}" />
                            
                            
                            
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">Guardar</button>
                            </div>
                            <script>
                                function readURL(input) {
                                    if (input.files && input.files[0]) {
                                      var reader = new FileReader();
                                      reader.onload = function (e) {
                                        document.getElementById('imagen-preview').src = e.target.result;
                                        document.getElementById('imagen-preview').style.display = 'block';
                                      };
                                      reader.readAsDataURL(input.files[0]);
                                    }
                                  }
                                function updateImagePreview(input) {
                                    if (input.files && input.files[0]) {
                                        document.getElementById('imagen-preview').src = URL.createObjectURL(input.files[0]);
                                    }
                                }
                            </script>
                        </form>
                    </div>
                </div>
            </div>

            
            <div class="row">
                <div id="fondo-curso" class=" col-6 py-3">
                    <a class="nav-link" th:href="@{/adminCurso/listarCursos}">
                        <button type="button" class="btn ms-3 mb-2" id="btn2">Atras</button></a>
                    <img class="img-fluid fondo d-block w-100 px-2 py-2 " th:src="${curso.thumbnailCurso}" alt="curso">
                </div>
                <div class="col-6 py-5">
                    <h1 style="color: white" th:text="${curso.nombreCurso}"></h1>
                    <div>
                        <h2 style="color: white" class="py-2" th:text="${curso.descrpCurso}"></h2>
                        <br>
                    </div>

                    <div>
                        <a href="#" data-bs-target="#editarInformacionCurso" data-bs-toggle="modal">
                            <button class="btn my-2" id="btn2">Editar</button>
                        </a>
                    </div>
                </div>
            </div>

        </section>



        <section th:fragment="modulosCurso">

            <div class="col-12 d-flex align-items-center mt-5 ms-5">
                <button id="btnModulo" type="button" class="btn" data-bs-toggle="modal" data-bs-target="#agregarModulo">
                    Agregar Módulo
                </button>
            </div>

            <div id="agregarModulo" 
                 class="modal fade" 
                 tabindex="-1" 
                 aria-labelledby="exampleModalLabel" 
                 aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div <div class="modal-content fondo-modal">
                            <div class="modal-header bg-info text-white">
                                <h5 class="modal-title">Crear Modulo</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div> 
                            <form th:action="@{/adminCurso/detalleCurso/}+${curso.idCurso}" th:object="${capituloPadre}"
                                  method="POST" class="was-validated" enctype="multipart/form-data">

                                <div class="modal-body">
                                    <div class="mb-3">
                                        <label for="nombre">Nombre del Modulo</label>
                                        <input type="text" class="form-control" name="nombre" required="true"/>
                                    </div>
                                    <div class="mb-3">
                                        <label for="numero">Numero del Capitulo</label>                                    
                                        <input type="number" min="0" class="form-control" name="numero" required="true"/>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button class="btn btn-primary" type="submit">Guardar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div id="gestionAdmin" class="col-7 table-responsive text-center">
                <table class="table table-borderless table-dark border border-white
                       text-center py-4"
                       th:each="CapituloPadre, contador : ${ListaPadres}">
                    <thead>
                        <tr>
                            <th scope="col">Posicion</th>
                            <th scope="col">Modulo</th>
                            <th scope="col">Botones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center">
                            <td class="text-center col-4 my-2" th:text="${CapituloPadre.numero}"></td>
                            <td class="text-center col-4 my-2"  th:text="${CapituloPadre.nombre}"></td>
                            <td class="text-center col-4 my-2">
                                <a th:href="@{/adminCurso/detalleCapitulos/}+${curso.idCurso}+'/'+${CapituloPadre.id}">
                                    <button id="btn2" class="btn my-2">Editar</button></a>

                                <a th:href="@{/adminCurso/deleteCapituloPadre/}+${curso.idCurso}+'/'+${CapituloPadre.id}">
                                    <button id="btn2" class="btn my-2">Eliminar</button></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </section>


        <!-- 
           ==============================================================-->
        <!-- Se edita y agrega el contendo del modulo -->
        <!-- 
           ==============================================================-->



        <section th:fragment="editarClases">

            <div id="agregarClase" 
                 class="modal fade" 
                 tabindex="-1" 
                 aria-labelledby="exampleModalLabel" 
                 aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div <div class="modal-content fondo-modal">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title">Crear Clase</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> 
                        <form th:action="@{/adminCurso/newCapituloHijo/}+${curso.idCurso}+'/'+${capituloPadre.id}" th:object="${capituloHijo}" 
                              method="POST" class="was-validated" enctype="multipart/form-data" id="uploadForm">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="nombre">Nombre de la clase</label>
                                    <input type="text" class="form-control" name="nombre" required="true"/>
                                </div>
                                
                                <div class="mb-3">
                                    <label for="videoNuevo">Video de la clase</label>
                                    <input class="form-control" type="file" 
                                           name="videoNuevo" accept="video/*" 
                                           onchange="updateVideoPreview(this);">
                                    <video width="100%" controls id="video-preview">
                                    </video>
                                </div>
                                
                                <div class="mb-3">
                                    <label for="numero">Poscion del capitulo</label>                                    
                                    <input type="number" min="1" class="form-control" name="numero" required="true"/>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">Guardar</button>
                            </div>
                            <script>
                                function updateVideoPreview(input) {
                                    if (input.files && input.files[0]) {
                                        document.getElementById('video-preview').src = URL.createObjectURL(input.files[0]);
                                    }
                                }
                            </script>
                            </form>
                        </div>
                    </div>
                </div>
            </div>




            <div id="editarNombreCapituloPadre" 
                 class="modal fade" 
                 tabindex="-1" 
                 aria-labelledby="exampleModalLabel" 
                 aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div <div class="modal-content fondo-modal">
                            <div class="modal-header bg-info text-white">
                                <h5 class="modal-title">Editar Capitulo Padre</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div> 
                            <form th:action="@{/adminCurso/save-capituloPadre/}+${curso.idCurso}" th:object="${capituloPadre}"
                                  method="POST" class="was-validated" enctype="multipart/form-data">

                                <div class="modal-body">
                                    <div class="mb-3">
                                        <label for="nombre">Nombre del capitulo Padre</label>
                                        <input type="text" class="form-control" th:field="*{nombre}"
                                               name="nombre" required="true"/>
                                    </div>
                                    <div class="mb-3">
                                        <label for="numero">Poscion del capitulo</label>                                    
                                        <input type="number" min="0" class="form-control" th:field="*{numero}"
                                               name="numero" required="true"/>
                                    </div>
                                    <input type="hidden" th:field="*{id}" name="id"/>
                                </div>

                                <div class="modal-footer">
                                    <button class="btn btn-primary" type="submit">Guardar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>




            <div id="titulo1" class="fs-3 my-5">Detalle Capitulo Padre</div>
            <a class="nav-link mb-5 ms-5" th:href="@{/adminCurso/detalleCurso/}+${curso.idCurso}">
                <button type="button" class="btn" id="btn2">Atras</button>
            </a>
            <div id="gestionAdmin">
                <p class="py-3" style="color: white" th:text="${capituloPadre.numero}">Parent Module ID</p>
                <h2 th:text="${capituloPadre.nombre}" id="detallePadre"
                    class="col-6">Parent Module Name</h2>
                <div class="col-6 ms-auto">
                    <button class="btn my-2" id="btn2" data-bs-target="#editarNombreCapituloPadre" data-bs-toggle="modal">Editar</button>
                    <button class="btn my-2" id="btn2" data-bs-target="#agregarClase" data-bs-toggle="modal">Agregar Clase</button>
                </div>
            </div>


            <div id="gestionAdmin" class="col-7 table-responsive text-center">
                <table class="table table-borderless table-dark border border-white
                       text-center py-4">
                    <thead>
                        <tr>
                            <th scope="col">Posicion</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="capituloHijo : ${listaHijos}">
                            <td th:text="${capituloHijo.numero}"></td>
                            <td th:text="${capituloHijo.nombre}"></td>
                            <td>
                                <a th:href="@{/adminCurso/detalleCapituloHijo/}+${curso.idCurso}+'/'+${capituloHijo.id}">
                                    <button class="btn my-2" id="btn2" >Editar</button></a>
                                <a th:href="@{/adminCurso/deleteCapituloHijo/}+${curso.idCurso}+'/'+${capituloHijo.id}">
                                    <button class="btn my-2"  id="btn2" >Eliminar</button></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </section>



        <!-- 
           ==============================================================-->
        <!-- Se edita y agrega el contendo de las clases -->
        <!-- 
           ==============================================================-->



        <section th:fragment="editarClaseHijo">

        <div id="titulo1" class="fs-3 my-5">Editar Capitulo Hijo</div>
         <a class="nav-link mb-5 ms-5" 
           th:href="@{/adminCurso/detalleCapitulos/}+${curso.idCurso}+'/'+${capituloHijo.capituloPadreId}">
            <button type="button" class="btn" id="btn2">Atras</button>
        </a>
            
            
        <div id="detalleHijo" class="col-md-6 offset-md-4 
             table-responsive text-center fondo-modal">
            <div class="container">
                <form th:action="@{'/adminCurso/detalleCapituloHijo/' + ${curso.idCurso} + '/' + ${capituloHijo.id}}" th:object="${capituloHijo}"    
                      method="POST" class="was-validated" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="mb-3 my-5">
                            <label for="nombre" class="text-center" >Nombre de la clase</label>
                            <input type="text" class="form-control" th:field="*{nombre}"
                                   name="nombre" required="true"/>
                        </div>

                        <div class="mb-3">
                            <label for="video">Video de la clase</label>

                            <video width="100%" controls id="video-preview">
                                <source id="video-source" th:src="${capituloHijo.video}" type="video/mp4">
                            </video>

                            <input class="form-control" type="file"
                                   name="videoNuevo" accept="video/*" 
                                   onchange="readURL(this); updateVideoPreview(this);" />
                        </div>

                        <div class="mb-3 my-5">
                            <label for="numero" class="text-center" >Poscion del capitulo</label>                                    
                            <input type="number" min="0" class="form-control" th:field="*{numero}"
                                   name="numero" required="true"/>
                        </div>

                        <input type="hidden" th:field="*{id}" />
                        <input type="hidden" th:field="*{capituloPadreId}" />
                        <input type="hidden" th:field="*{video}" />

                    </div>

                    <div class="modal-footer mb-3 my-5">
                        <button class="btn btn-primary" type="submit">Guardar</button>
                    </div>

                </form>
            </div>
        </div>
            <script>
            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function(e) {
                        document.getElementById('video-source').src = e.target.result;
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }
            function updateVideoPreview(input) {
                if (input.files && input.files[0]) {
                    document.getElementById('video-preview').src = URL.createObjectURL(input.files[0]);
                }
            }
        </script>
    </section>

    </body>
</html>


