

@import url('https:fonts.googleapis.com/css2?family=Montserrat&display=swap');

/*================MENU================*/

#promo{
    background-color:rgb(157, 255, 0) ;

    p{
        color:black ;
    }


}

#cuerpo{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    background-color: #2D2C2E;
    opacity: 80%;
}

#Nav a{
    font-size: 18px;
    font-weight: bold;
    color: #00FF29;

}

#Nav button{
    background-color: #92FE9D;
    color: black;
}

#cuerpo-menu{
    padding-top: 5%;
    background: linear-gradient( #16A9D8 , #92FE9D);
    padding-bottom: 300px;
    display: flex;
    justify-content: center;
}

#cuerpo-cursos{
    background: linear-gradient( #92FE9D, #7EF1A6 );

}

#cuerpo-planes{
    padding-top: 5%;
    background: linear-gradient( #77ECAA, #38C0C8);

}

#cuerpo-preguntas{
    padding-top: 5%;
    background: linear-gradient( #38C0C8, #16A9D8);

}
/*================Section================*/

#fondo{
    width: 40%;

}

/*agregado de iniciarSecion*/

#contenedor-formulario{
    color: rgb(255, 255, 255);
    position: absolute;
    max-width:30%;
}

#fondoCuenta{
    font-size: 300px;
    width: 30%;
    height: 30%;
    margin-left: 10%;
}


#local{
    padding-top: 5%;
    padding-bottom: 300px;
    display: flex;
    justify-content: center;
}

.fs-2{
    color: rgb(255, 255, 255);
}

.wrapper{

    margin-left: 5%;
}

#botones{

    position: absolute;
    margin-top: 1%;
    margin-left: 4%;
}

#btn1{
    border-color: #00FF29;
    color: rgb(255, 255, 255);
}

/*agregado de iniciarSecion*/
#btnLogin{
    background-color: #FF0049;
    color: white;
    margin-top: 30px;
}

#btn2{
    color: rgb(0, 0, 0);
    background-color: #00FF29;
}


#titulo1{
    text-align: center;
    margin: auto;
    color: #00FF29;
}

.card{
    color: white;
    background-color: #2D2C2E;
    margin-block-end: 10%;
    margin-block-start: 10%;
}



/*================Cursos================*/

#fondo-curso{
    padding-inline-start: 100;
}

.accordion-item{
    button{
        color: white;
        background-color: #2D2C2E;
    }
    background-color: #2D2C2E;
    color: white;
}


/*================Metodo Pago================*/

#formulario-pago{
    padding-left: 25%;


    p, label{
        padding-top: 5%;
        text-align: center;
        font-size: 20px;
    }
    input{
        margin-left: 10%;
        text-align: center;
    }

}

.accordion-header{

    background-color: grey;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
    padding-left: 40%;
}

.button-container{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 10px;
}

/*================Visual Videos================*/

.txtVideo{
    color: white;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 70%;
    margin-left: 13%;
    margin-right: auto;
}



/*================NEDIA QUERIES PANTALLA================*/

@media (max-widht: 769px){
    #intro, #equipo {
        width: 90% !important;
    }

    #equipo p {
        display: none;
    }
    .servicio-fila{
        width: 100% !important;
        text-align: center;
    }
}

/*================NEDIA QUERIES PANTALLA EXTRA-SM================*/

@media(max-wirdth: 576px){
    .icono-wrap{
        flex-wrap: wrap;
        justify-content: center !important;
    }
}

#bg-contacto{
    position: relative;
    top: -130px;
}

#seccion-contacto{
    min-height: 500px;
    position: inherit;
}

