

@import url('https:fonts.googleapis.com/css2?family=Montserrat&display=swap');

/*================MENU================*/


#cuerpo{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    background-color: #2D2C2E;
    opacity: 80%;
}

#Nav{
    background-color: #454445;
    a{
    font-size: 18px;
    font-weight: bold;
    color: #00FF29;
    opacity: 50%;
    }
    a:hover{
    opacity: 100%;
    }
}

#Nav button{
    background-color: #92FE9D;
    color: black;
}

#cuerpo-menu{
    padding-top: 5%;
    background: linear-gradient( #16A9D8 , #92FE9D);
    padding-bottom: 300px;
    display: flex;
    justify-content: center;
}

#cuerpo-cursos{
    background: linear-gradient( #92FE9D, #7EF1A6 );

}

#cuerpo-planes{
    padding-top: 5%;
    background: linear-gradient( #77ECAA, #38C0C8);

}

#cuerpo-preguntas{
    padding-top: 5%;
    background: linear-gradient( #38C0C8, #16A9D8);

}
/*================Section================*/

#fondo{
    width: 40%;

}

/*agregado de iniciarSecion*/

#contenedor-formulario{
    color: rgb(255, 255, 255);
    position: absolute;
    max-width:30%;
}

#fondoCuenta{
    font-size: 300px;
    width: 30%;
    height: 30%;
    margin-left: 10%;
}


#local{
    padding-top: 5%;
    padding-bottom: 300px;
    display: flex;
    justify-content: center;
}

.fs-2{
    color: rgb(255, 255, 255);
}

.wrapper{

    margin-left: 5%;
}

#botones{

    position: absolute;
    margin-top: 1%;
    margin-left: 4%;
}

#btn1{
    border-color: #00FF29;
    color: rgb(255, 255, 255);
}

/*agregado de iniciarSecion*/
#btnLogin{
    background-color: #FF0049;
    color: white;
    margin-top: 30px;
}

#btn2{
    color: rgb(0, 0, 0);
    background-color: #00FF29;
}


#titulo1{
    text-align: center;
    margin: auto;
    color: #00FF29;
}

#titulo2{
    text-align: center; 
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #2b2929;
}

.card{
    color: white;
    background-color: #2D2C2E;
    margin-block-end: 10%;
    margin-block-start: 10%;
}



/*================Cursos================*/

#fondo-curso{
    padding-inline-start: 10;
}

.accordion-item{
    button{
        color: white;
        background-color: #2D2C2E;
    }
    background-color: #2D2C2E;
    color: white;
}
.fixed-size {
  width: 100%;
  height: 300px; 
  object-fit: cover;
}


/*================Metodo Pago================*/
#planesCard {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    padding: 40px;
    width: 500px;
    max-width: 90%;
    text-align: center;
    .h2 {
        color: #333;
        margin-bottom: 30px;
    }
    .plan {
        border: 1px solid #ddd;
        border-radius: 10px;
        padding: 20px;
        margin-bottom: 20px;
        background-color: #f7f7f7;
    }
    .plan h3 {
        margin: 0;
        font-size: 24px;
        color: #16A9D8;
    }
    
    .plan p {
        font-size: 18px;
        color: #555;
    }
    
    .plan .price {
        font-size: 28px;
        font-weight: bold;
        margin: 15px 0;
        color: #16A9D8;
    }
    
    .plan button {
        background-color: #00FF29;
        color: white;
        border: none;
        padding: 12px 20px;
        font-size: 18px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    
    .plan button:hover {
        background-color: #00CC21;
    }
    
    .plan .discount {
        color: #E74C3C;
        font-weight: bold;
        margin-top: 10px;
    }
    
}
/*================Visual perfil================*/


#btnPerfil{
    display: flex;
    align-items: center;
    p{
        padding-right: 10%;
    }
}

/*================Visual Videos================*/


.video-container {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    max-width: 70%;
}

.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.tituloVideo{
    color: white;
    font-size: 40px;
    padding-top: 40px;
}

#video{
    margin-bottom: 8%;
}

/*================Estilo html Footer================*/

.txtFooter{
    color: white;
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 70%;
    margin: auto;
}


/*================Vista Editar Curso Admin================*/

.imagen-preview-container {
    text-align: center;
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#imagen-preview {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fondo-modal {
  background-color: #262526;
  input{
      background-color: #49484A;
      color: white;
  }
  textarea{
    background-color: #49484A;
      color: white;
  }
  label{
      color: white;
  }
}




#gestionAdmin{
    margin-inline-start: 20%;
    padding-top: 2%;
    padding-bottom: 5%;
}

#botones2{
    margin-top: 5%;
    padding-left: 25%;
    
}

#btnCurso{
    margin-left: 63%;
    color: rgb(0, 0, 0);
    background-color: #00FF29;
}

#btnModulo{
    margin-left: 62%;
    color: rgb(0, 0, 0);
    background-color: #00FF29;
}

#detalleHijo{
    margin: 5%;
    margin-left: 23%;
    label{
        color: white;
        margin-bottom: 2%;
    }
}

#btnAdmin{
    color: white;
    padding-top: 2%;
    padding-bottom: 1%;
    background-color: #726f7a;
    opacity: 70%;
}

#btnAdmin:hover{
    background-color: rgb(146, 143, 143);
    opacity: 100%;
}


/*================NEDIA QUERIES PANTALLA================*/

@media (max-widht: 769px){
    #intro, #equipo {
        width: 90% !important;
    }

    #equipo p {
        display: none;
    }
    .servicio-fila{
        width: 100% !important;
        text-align: center;
    }
}

/*================NEDIA QUERIES PANTALLA EXTRA-SM================*/

@media(max-wirdth: 576px){
    .icono-wrap{
        flex-wrap: wrap;
        justify-content: center !important;
    }
}

#bg-contacto{
    position: relative;
    top: -130px;
}

#seccion-contacto{
    min-height: 500px;
    position: inherit;
}

#detallePadre{
    color: white;
}

#popup{
    background-color:#2D2C2E;
    
}
/*================Perfile usaurio================*/
