<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
    <head th:replace="~{layout/headerFooter :: head}">
        <title>Pro Learn</title>
    </head>
    <body id="cuerpo">
        <header th:replace="~{layout/headerFooter :: header}"></header>
        <section th:replace="~{menu/menu :: menu}"></section>
        <section th:replace="~{menu/menu :: cursos}"></section>
        <section th:replace="~{menu/menu :: planes}"></section>
        <section th:replace="~{menu/menu :: faqs}"></section>
        <footer th:replace="~{layout/headerFooter :: footer}"></footer>
    </body>
</html>
