<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
    <head th:replace="~{layout/headerFooter :: head}">
        <title>Pro Learn</title>
    </head>
    
    <body id="cuerpo">
        
        <header th:replace="~{layout/headerFooter :: header}"></header>
        <section th:fragment="crearCuenta">
            <div id="local">
                <div id="recuadro">
                    <div class="wrapper ">
                        <p style="color: white">Creacion de cuenta → Confirmacion del pago</p>
                        <p style="color: white">Crear una nueva cuenta</p>
                        <p><a href="iniciarSesion.html">Ya tengo una cuenta</a></p>
                    </div>
                    <div class="container">
                        <div id="contenedor-formulario">
                            <form id="input" class="row g-2" th:action="@{/signup}" th:object="${usuario}" method="POST">
                                <div class="col-6 col-md-6">
                                    <label for="nombre" class="form-label">Nombre</label>
                                    <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre">
                                </div>
                                <div class="col-6 col-md-6">
                                    <label for="apellido" class="form-label">Apellidos</label>
                                    <input type="text" class="form-control" id="apellidos" name="apellidos" placeholder="Apellidos">
                                </div>
                                <div class="col-12 col-md-9">
                                    <label for="email" class="form-label">Correo</label>
                                    <input type="email" class="form-control" id="email" name="email" placeholder="ejemplo@.com">
                                </div>
                                <div class="col-9 col-md-6">
                                    <label for="password" class="form-label">Contraseña</label>
                                    <input type="password" class="form-control" id="password" name="password" placeholder="password">
                                </div>
                            </form>
                            <div class="col-12 col-md-9">
                                <button id="btnSignUp" type="submit" class="btn btn-primary">Crear Cuenta</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="fondoCuenta">
                    <img class="mx-5 img-fluid col-12" src="/img/crear-cuenta.png" alt="Marcoz29">
                </div>
            </div>
        </section>
        <footer th:replace="~{layout/headerFooter :: footer}"></footer>
    </body>
</html>
